


////////////////////////////////////////////////////////////////
// SIDEBAR WIDGET
@media only screen and(max-width: 1024px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 62%;
               }
             }
           }
         }
       }
     }
   }
}

@media only screen and(max-width: 980px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
         &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 85%;
               }
             }
           }
         }
       }
     }
   }
}

@media only screen and(max-width: 800px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 85%;
               }
             }
           }
         }
       }
     }
   }
}

@media only screen and(max-width: 768px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 85%;
               }
             }
           }
         }
       }
     }
   }
}

@media only screen and(max-width: 600px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 80%;
               }
             }
           }
         }
       }
     }
   }
}

@media only screen and(max-width: 480px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 70%;
               }
             }
           }
         }
       }
     }
   }
}
