
////////////////////////////////////////////////////////////////
// SIDEBAR WIDGET
@media only screen and(max-width: 1024px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 62%;
               }
             }
           }
         }
       }
     }
   }
}

@media only screen and(max-width: 980px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
         &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 85%;
               }
             }
           }
         }
       }
     }
   }
}

@media only screen and(max-width: 800px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 85%;
               }
             }
           }
         }
       }
     }
   }
}

@media only screen and(max-width: 768px){

  header#header{
    text-align: center;

    .pageHeader{
      margin-top: 25px;
    }
  }

  nav#nav{
    .nav{
      li{
        a{
          margin: 3px 2px;
        }
      }
    }
  }

  #main_sidebar{

    .panel.widget{

      &.widget_core_coll_post_list,
      &.widget.widget_core_coll_item_list,
      &.widget_core_coll_related_post_list,
      &.widget_core_coll_page_list,
      &.widget_core_coll_page_list{

        .panel-body{
          ul{
            li{

              .item_title{
                width: 85%;
              }
            }
          }
        }
      }
    }
  }

  footer#footer{

    .evo_widget{
      &.widget_core_coll_post_list,
      &.widget.widget_core_coll_item_list,
      &.widget_core_coll_related_post_list,
      &.widget_core_coll_page_list,
      &.widget_core_coll_page_list{
        ul{
          li{
            .item_title{
              width: 85%;
            }
          }
        }
      }
    }
  }

}

@media only screen and(max-width: 640px){

  nav#nav{

    .nav-tabs{
      & > li{
        float: none;
      }
    }
  }


}

@media only screen and(max-width: 600px){
   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 80%;
               }
             }
           }
         }
       }
     }
   }
}

@media only screen and(max-width: 480px){

  #main_area{


  ////////////////////////////////////////////////////////////////
  // FRONT PAGE

    .evo_container__front_page_primary{
      .evo_widget{
        &.widget_core_coll_search_form{
          form.search{

            .search_field{
              width: 70%;
            }

            .search_submit{
              width: 25%;

            }
          }
        }
      }
    } //End evo_container__front_page_primary

  }// end main_area


  ////////////////////////////////////////////////////////////////
  // SIDEBAR

   #main_sidebar{

     .panel.widget{


       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list{

         .panel-body{
           ul{
             li{

               .item_title{
                 width: 70%;
               }
             }
           }
         }
       }
     }
   }


   ////////////////////////////////////////////////////////////////
   // FOOTER

   footer#footer{

     .evo_widget{
       &.widget_core_coll_post_list,
       &.widget.widget_core_coll_item_list,
       &.widget_core_coll_related_post_list,
       &.widget_core_coll_page_list,
       &.widget_core_coll_page_list{
         ul{
           li{
             .item_title{
               width: 70%;
             }
           }
         }
       }
     }
   }

}
