/*======================================================
=            Skin Info              									 =
=======================================================*
  Name: Flat Skin Blog for b2evolution CMS v6
  Description: Responsive Flat Design Blog Skin
  Version: 1.0
  Author: Ariflaw
  This Template build by Ariflaw

/*---------------  End of Themes Info  ---------------*/
/**
 * 1.0 BASIC STRUCTURE
 * -----------------------------------------------------------------------------
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500,700,900);
body {
  background-color: #F2F2F2;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * 1.0 OTHER STRUCTURE
 * -----------------------------------------------------------------------------
 */
.widget_core_user_login #login_form .form-group {
  margin: 0; }
.widget_core_user_login #login_form label {
  text-align: left;
  width: 160px;
  padding-left: 0; }
.widget_core_user_login #login_form .controls {
  padding: 0;
  width: 100%; }
.widget_core_user_login #login_form .form_text_input.form-control {
  width: 100%; }
.widget_core_user_login .submit {
  font-size: 12px; }
.widget_core_user_login .field_login_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .widget_core_user_login .field_login_btn .panel .panel-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
    .widget_core_user_login .field_login_btn .panel .panel-body #submit_login_form {
      margin-right: 10px; }
.widget_core_user_login .register_link {
  display: block;
  padding-top: 10px; }

.widget_core_user_register #register_form .form-group {
  margin: 0; }
.widget_core_user_register #register_form label {
  text-align: left;
  width: 160px;
  padding-left: 0; }
.widget_core_user_register #register_form .controls {
  padding: 0;
  width: 100%; }
.widget_core_user_register #register_form .form_text_input.form-control {
  width: 100%; }
.widget_core_user_register .submit {
  font-size: 12px; }
.widget_core_user_register .field_register_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .widget_core_user_register .field_register_btn .panel .panel-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
    .widget_core_user_register .field_register_btn .panel .panel-body #submit_login_form {
      margin-right: 10px; }

ul.profile_tabs {
  margin: 0 2ex 2ex;
  position: relative;
  top: 1px; }

.profile_avatar {
  float: right;
  padding: 10px;
  margin-left: 10px; }

form.bComment {
  border-color: #DDD;
  padding: 1em; }
  form.bComment .controls textarea.form-control {
    width: 100%; }

input.search_field {
  margin-bottom: 0;
  display: inline-block; }

form.search .search_options {
  width: 100%; }
  form.search .search_options .search_option input {
    margin-right: 5px; }
  form.search .search_options .search_option label {
    margin-bottom: 0;
    margin-top: 5px; }

div.compact_search_form input.search_field {
  width: 100%;
  margin: 0; }

div.extended_search_form {
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 530px; }
  div.extended_search_form .search_options {
    text-align: center; }
    div.extended_search_form .search_options .search_option {
      display: inline-block;
      margin-right: 10px; }

table.catselect input#new_category_name {
  width: 98% !important; }

label.control-label[for=post_title] {
  width: auto; }

.item_tags td.label {
  background: none;
  color: #000;
  text-shadow: none;
  padding: 0;
  font-size: 100%; }
.item_tags td.input {
  width: 90%; }
  .item_tags td.input label {
    display: none; }
.item_tags .controls {
  margin-left: 0; }

.messages_list form.bComment {
  background: none; }

textarea.message_text {
  width: 95%; }

.comment_form h3 {
  margin: 0; }
.comment_form .panel {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .comment_form .panel .panel-body {
    padding: 0; }

form.bComment {
  border: none;
  padding: 0;
  overflow: visible; }
  form.bComment .form-actions {
    margin-bottom: 0; }
  form.bComment legend {
    padding: 0 10px; }
  form.bComment div.form-group, form.bComment div.custom_content {
    padding: 0 20px; }
  form.bComment fieldset {
    margin-top: 0; }
  form.bComment input[type=file] {
    display: inline; }

#comment_date_field input {
  width: 80px; }
#comment_date_field label {
  font-weight: normal; }

.form-group[id^="ffield_uploadfile"] .controls {
  padding-top: 5px; }
  .form-group[id^="ffield_uploadfile"] .controls input {
    line-height: 10px; }

.comment_rating {
  margin-top: 2px; }

#comment_edit .comment_rating {
  margin-top: 9px; }

.ratings_table {
  margin-bottom: 10px; }
  .ratings_table .rating_summary {
    border-spacing: 1px;
    border-collapse: separate; }
  .ratings_table .progress {
    border-radius: 0;
    height: 13px; }

#comment_preview {
  background-color: #FFF; }

#comment_date_field .panel {
  border: none;
  box-shadow: none;
  margin-bottom: 0; }
  #comment_date_field .panel .panel-body {
    padding: 0; }
    #comment_date_field .panel .panel-body .control-label {
      font-weight: bold; }
    #comment_date_field .panel .panel-body .controls .form-group {
      display: inline-block;
      padding-left: 15px;
      margin-bottom: 0; }

.bPost {
  margin-bottom: 2em; }
  .bPost .bTitle {
    margin: 0; }
  .bPost .small.text-muted {
    margin: 4px 0 10px; }
    .bPost .small.text-muted a, .bPost .small.text-muted a .glyphicon {
      color: inherit; }

form#user_checkchanges.bComment {
  border: none; }

div.bSideItem {
  background: #F7F5FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #FFFFFF; }
  div.bSideItem h4 {
    margin-top: 0; }

.skin-form .panel-body .panel {
  border: none;
  box-shadow: none; }
.skin-form .panel-body .panel-body {
  padding: 0; }
.skin-form .fieldset {
  margin: 0; }
  .skin-form .fieldset div.input {
    margin: 0; }
.skin-form .control-buttons, .skin-form div.input {
  padding: 0;
  width: 100%;
  text-align: center; }

.wrap-form-login, .wrap-form-lostpass, .wrap-form-register, .wrap-form-activation {
  min-width: 290px;
  margin: 1.5em auto auto; }
  .wrap-form-login .panel, .wrap-form-lostpass .panel, .wrap-form-register .panel, .wrap-form-activation .panel {
    margin: 5px 0; }
  .wrap-form-login .panel-body, .wrap-form-lostpass .panel-body, .wrap-form-register .panel-body, .wrap-form-activation .panel-body {
    padding: 20px 30px 0; }

.wrap-form-login {
  max-width: 400px; }

.wrap-form-lostpass {
  max-width: 480px; }
  .wrap-form-lostpass #ffield_x label {
    display: none; }

.wrap-form-activation {
  max-width: 530px; }
  .wrap-form-activation #activateinfo_form .control-buttons {
    text-align: left; }

.wrap-form-register {
  max-width: 580px; }
  .wrap-form-register .control-buttons {
    text-align: left; }
  .wrap-form-register.register-disabled {
    width: 350px; }
  .wrap-form-register .form-control#country, .wrap-form-register .form-control#u {
    width: 100%; }

.form-login-links {
  padding: 0 5px;
  font-size: 92%; }

.form-login fieldset {
  margin-bottom: 20px; }
.form-login .controls {
  padding: 0;
  margin: 0;
  width: 100%; }
.form-login .control-buttons {
  margin-left: 0; }
.form-login input.form-control[type=text], .form-login input.form-control[type=password] {
  width: 100%; }
.form-login .btn {
  margin-top: 5px; }
.form-login .form-actions {
  padding: 0;
  margin: 0 0 20px;
  background: none;
  border: none; }

#login_form .control-buttons {
  text-align: left; }

.standard_login_link {
  text-align: center;
  margin: 3em 0 1ex 0; }

.form_footer_notes {
  margin-top: 0; }

.pagination {
  margin: 0; }

div.action_messages, div.log_container {
  margin: 0; }

.post_title {
  display: table; }
  .post_title h2 {
    display: table-cell;
    margin: 0;
    padding: 20px 0 10px; }
  .post_title .btn-group {
    display: table-cell;
    padding: 20px 0 10px 30px;
    vertical-align: middle; }

/**
 * 1.0 HEADER STRUCTURE
 * -----------------------------------------------------------------------------
 */
header#header {
  background-color: #2ECC71;
  padding: 40px 0;
  margin-top: -15px; }
  header#header .pageHeader {
    margin-bottom: 20px; }
    header#header .pageHeader .widget.widget_core_coll_title h1 {
      margin: 10px 0 5px; }
      header#header .pageHeader .widget.widget_core_coll_title h1 a {
        color: #FFFFFF; }
        header#header .pageHeader .widget.widget_core_coll_title h1 a:hover {
          text-decoration: none; }
    header#header .pageHeader .widget.widget_core_coll_tagline {
      color: #FFFFFF; }
  header#header .PageTop .widget.widget_core_user_links .ufld_icon_links a {
    color: #34495E;
    background: #FFFFFF;
    margin: 0 5px; }

.PageTop {
  margin-top: 20px; }
  .PageTop .widget--social-media-links {
    text-align: right; }

/**
 * 1.0 NAV STRUCTURE
 * -----------------------------------------------------------------------------
 */
nav#nav {
  background-color: #34495E;
  margin-bottom: 20px; }
  nav#nav .nav-tabs {
    border-bottom: none;
    margin: 20px 0; }
    nav#nav .nav-tabs li a {
      font-size: 15px;
      color: #BDC3C7;
      border-radius: 5px;
      border: none;
      -moz-transition: all 0.32s ease;
      -webkit-transition: all 0.32s ease;
      -o-transition: all 0.32s ease;
      transition: all 0.32s ease; }
      nav#nav .nav-tabs li a:hover {
        background-color: #2c3e50;
        color: #ffffff;
        border: none; }
    nav#nav .nav-tabs li.active > a {
      color: #ffffff;
      background-color: #2c3e50; }

.nav.nav-tabs {
  margin-top: 0; }

/**
* 1.0 MAIN CONTENT STRUCTURE
* -----------------------------------------------------------------------------
*/
#main_area {
  padding: 0 30px 0 15px; }

/**
 * 1.0 SIDEBAR STRUCTURE
 * -----------------------------------------------------------------------------
 */
#main_sidebar {
  border-left: 1px solid #EBEBEB;
  overflow: hidden; }

.panel.widget {
  padding-bottom: 15px;
  border: none;
  box-shadow: none;
  background: transparent;
  position: relative; }
  .panel.widget::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 1px;
    background-color: #E7E7E7;
    margin: 0 auto; }
  .panel.widget .panel-heading {
    background: transparent;
    border-bottom: none; }
    .panel.widget .panel-heading h4 {
      color: #2E85AB;
      font-size: 25px;
      font-weight: 300;
      position: relative; }
      .panel.widget .panel-heading h4 a {
        color: #2E85AB;
        font-size: 25px;
        font-weight: 300; }
        .panel.widget .panel-heading h4 a:hover {
          text-decoration: none; }
  .panel.widget .panel-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .panel.widget .panel-body ul li {
      display: block;
      margin: 0;
      padding: 2px 0; }
      .panel.widget .panel-body ul li a {
        position: relative;
        padding: 2px 0 2px 20px; }
        .panel.widget .panel-body ul li a::before {
          content: "\f105";
          position: absolute;
          left: 5px;
          top: 0;
          font-family: "FontAwesome";
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0); }
        .panel.widget .panel-body ul li a:hover {
          text-decoration: none;
          color: #333; }
  .panel.widget.widget_core_coll_avatar a img {
    border-radius: 100%;
    border: 6px solid #34495E;
    -moz-transition: all 0.32s ease;
    -webkit-transition: all 0.32s ease;
    -o-transition: all 0.32s ease;
    transition: all 0.32s ease; }
    .panel.widget.widget_core_coll_avatar a img:hover {
      border-color: #2ECC71; }
  .panel.widget.widget_core_coll_longdesc {
    text-align: center; }
  .panel.widget.widget_core_coll_search_form .panel-body .compact_search_form input.search_field {
    border: none;
    height: 45px;
    margin: 0;
    box-shadow: none;
    border: 1px solid transparent;
    -moz-transition: all 0.32s ease;
    -webkit-transition: all 0.32s ease;
    -o-transition: all 0.32s ease;
    transition: all 0.32s ease; }
    .panel.widget.widget_core_coll_search_form .panel-body .compact_search_form input.search_field:hover {
      box-shadow: none;
      margin: 0; }
    .panel.widget.widget_core_coll_search_form .panel-body .compact_search_form input.search_field:focus {
      outline: none;
      border-color: #34495E;
      box-shadow: none; }
  .panel.widget.widget_core_coll_search_form .panel-body .compact_search_form input.search_submit {
    padding: 10px 20px;
    height: 45px;
    border: 1px solid transparent;
    outline: none;
    margin: 0;
    background: #34495E; }
    .panel.widget.widget_core_coll_search_form .panel-body .compact_search_form input.search_submit:hover {
      outline: none;
      border-color: transparent;
      box-shadow: none; }
  .panel.widget.widget_core_coll_tag_cloud .panel-body .tag_cloud a {
    display: inline-block;
    font-size: 14px !important;
    padding: 8px 12px;
    margin: 2px 1px;
    background-color: #428BCA;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 0.32s ease;
    -o-transition: all 0.32s ease;
    transition: all 0.32s ease; }
    .panel.widget.widget_core_coll_tag_cloud .panel-body .tag_cloud a:hover {
      text-decoration: none;
      background-color: #064883;
      color: #fff; }
  .panel.widget.widget_core_coll_post_list .panel-body ul li {
    position: relative;
    padding: 5px 0; }
    .panel.widget.widget_core_coll_post_list .panel-body ul li a {
      display: block; }
    .panel.widget.widget_core_coll_post_list .panel-body ul li > a {
      padding: 0 0 0 20px; }
    .panel.widget.widget_core_coll_post_list .panel-body ul li .item_title {
      position: absolute;
      padding-left: 75px; }
      .panel.widget.widget_core_coll_post_list .panel-body ul li .item_title a::before {
        display: none; }
    .panel.widget.widget_core_coll_post_list .panel-body ul li .item_images a {
      padding: 0; }
      .panel.widget.widget_core_coll_post_list .panel-body ul li .item_images a::before {
        display: none; }

/**
 * 1.0 FOOTER STRUCTURE
 * -----------------------------------------------------------------------------
 */
footer#footer {
  background-color: #34495E;
  color: #CDCDCD;
  padding: 50px 0 0;
  margin-top: 30px; }
  footer#footer .col-md-3:nth-child(5),
  footer#footer .col-md-3:nth-child(9),
  footer#footer .col-md-3:nth-child(13),
  footer#footer .col-md-3:nth-child(17),
  footer#footer .col-md-3:nth-child(21) {
    clear: both; }
  footer#footer .evo_widget.widget {
    padding: 0px 15px 20px 15px;
    overflow: hidden; }
    footer#footer .evo_widget.widget h3 {
      color: #ffffff;
      font-weight: 400;
      font-size: 24px;
      margin: 20px 0; }
    footer#footer .evo_widget.widget ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      footer#footer .evo_widget.widget ul li {
        margin: 5px 0; }
        footer#footer .evo_widget.widget ul li a {
          color: #CDCDCD;
          font-size: 16px; }
        footer#footer .evo_widget.widget ul li > a {
          color: #CDCDCD;
          font-size: 16px;
          padding-left: 15px;
          display: inline-block;
          letter-spacing: 0.1px;
          -moz-transition: all 0.32s ease;
          -webkit-transition: all 0.32s ease;
          -o-transition: all 0.32s ease;
          transition: all 0.32s ease;
          position: relative; }
          footer#footer .evo_widget.widget ul li > a::before {
            content: "\f105";
            position: absolute;
            left: 0;
            top: 0;
            font-family: "FontAwesome";
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0); }
          footer#footer .evo_widget.widget ul li > a:hover {
            text-decoration: none;
            color: #FFFFFF; }
    footer#footer .evo_widget.widget.widget_core_coll_post_list ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      footer#footer .evo_widget.widget.widget_core_coll_post_list ul li {
        display: block;
        margin: 5px 0;
        clear: both; }
        footer#footer .evo_widget.widget.widget_core_coll_post_list ul li .item_title {
          float: right;
          width: 65%; }
          footer#footer .evo_widget.widget.widget_core_coll_post_list ul li .item_title a {
            color: #E7E7E7;
            font-size: 16px;
            line-height: 1.2;
            display: inline-block;
            -moz-transition: all 0.32s ease;
            -webkit-transition: all 0.32s ease;
            -o-transition: all 0.32s ease;
            transition: all 0.32s ease; }
            footer#footer .evo_widget.widget.widget_core_coll_post_list ul li .item_title a:hover {
              text-decoration: none;
              color: #fff; }
        footer#footer .evo_widget.widget.widget_core_coll_post_list ul li .item_images {
          float: left;
          padding: 0 0 10px; }
    footer#footer .evo_widget.widget .tag_cloud a {
      display: inline-block;
      font-size: 15px !important;
      font-weight: 300;
      text-transform: capitalize;
      color: #FFFFFF;
      background-color: #253545;
      padding: 8px 12px;
      border-radius: 5px;
      margin: 3px 1px;
      -moz-transitiion: all 0.32s ease;
      -webkit-transition: all 0.32s ease;
      -o-transition: all 0.32s ease;
      transition: all 0.32s ease; }
      footer#footer .evo_widget.widget .tag_cloud a:hover, footer#footer .evo_widget.widget .tag_cloud a:focus {
        text-decoration: none;
        background-color: #1A5593;
        color: #fff; }
    footer#footer .evo_widget.widget.widget_core_coll_search_form .compact_search_form input.search_field {
      width: 78%;
      border-radius: 3px 0 0 3px;
      height: 36px; }
    footer#footer .evo_widget.widget.widget_core_coll_search_form .compact_search_form input.search_submit {
      margin: 0;
      padding: 6px 18px;
      border-radius: 0 3px 4px 0;
      border: none;
      vertical-align: middle;
      height: 36px;
      margin-top: -2px;
      border: none;
      outline: none; }
      footer#footer .evo_widget.widget.widget_core_coll_search_form .compact_search_form input.search_submit:hover {
        background-color: #1784E2;
        border-color: #1784E2; }
    footer#footer .evo_widget.widget.widget_core_coll_comment_list ul li {
      padding-left: 15px; }
      footer#footer .evo_widget.widget.widget_core_coll_comment_list ul li a {
        padding-left: 0; }
        footer#footer .evo_widget.widget.widget_core_coll_comment_list ul li a:before {
          left: -15px;
          font-weight: 300; }
        footer#footer .evo_widget.widget.widget_core_coll_comment_list ul li a:hover {
          background: transparent; }
      footer#footer .evo_widget.widget.widget_core_coll_comment_list ul li > a + a {
        padding-left: 0; }
        footer#footer .evo_widget.widget.widget_core_coll_comment_list ul li > a + a::before {
          content: ''; }
    footer#footer .evo_widget.widget.widget_core_colls_list_public ul li.selected a {
      font-weight: 300; }
    footer#footer .evo_widget.widget.widget_core_profile_menu_link ul li a {
      text-transform: capitalize;
      font-size: 22px;
      padding: 0; }
      footer#footer .evo_widget.widget.widget_core_profile_menu_link ul li a:before {
        content: ''; }
      footer#footer .evo_widget.widget.widget_core_profile_menu_link ul li a img {
        border-radius: 100%;
        position: relative;
        top: 0;
        left: -15px;
        vertical-align: middle; }
    footer#footer .evo_widget.widget.widget_plugin_evo_Calr caption {
      margin: 0 auto 5px;
      padding: 10px 0;
      white-space: nowrap;
      color: #fff;
      background: #243240;
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      border-radius: 3px; }
      footer#footer .evo_widget.widget.widget_plugin_evo_Calr caption a {
        color: #fff; }
        footer#footer .evo_widget.widget.widget_plugin_evo_Calr caption a:hover {
          text-decoration: none; }
    footer#footer .evo_widget.widget.widget_plugin_evo_Calr thead {
      font-size: 11.5px; }
      footer#footer .evo_widget.widget.widget_plugin_evo_Calr thead tr th {
        font-size: 82%;
        padding: 1px; }
    footer#footer .evo_widget.widget.widget_plugin_evo_Calr tbody tr td {
      padding: 6px 0;
      font-weight: 400;
      color: #989898; }
      footer#footer .evo_widget.widget.widget_plugin_evo_Calr tbody tr td a {
        color: #fff; }
        footer#footer .evo_widget.widget.widget_plugin_evo_Calr tbody tr td a:hover {
          text-decoration: none; }
    footer#footer .evo_widget.widget.widget_plugin_evo_Calr #bCalendarToday {
      background-color: #FFFFFF;
      border: none; }
      footer#footer .evo_widget.widget.widget_plugin_evo_Calr #bCalendarToday a {
        color: #333; }
  footer#footer .footer_copyright {
    padding: 30px 0px 5px 0px;
    background-color: #2C3E50;
    margin-top: 20px; }
    footer#footer .footer_copyright p.copyright {
      float: left; }
    footer#footer .footer_copyright .footer_menu_copyright {
      float: right; }
      footer#footer .footer_copyright .footer_menu_copyright a {
        color: #E7E7E7;
        text-decoration: none; }
        footer#footer .footer_copyright .footer_menu_copyright a:hover {
          color: #fff; }
    footer#footer .footer_copyright .powered_by {
      margin: 0; }

body div.sitewide_footer {
  background-color: #2C3E50;
  box-shadow: none;
  border-top: none;
  padding: 5px 0 10px; }

/*# sourceMappingURL=style.css.map */
