footer#footer{
  background-color: #34495E;
  color: #CDCDCD;
  font-size: 15px;
  padding: 50px 0 0;
  margin-top: 50px;


  ////////////////////////////////////////////////////////////////
  // Widget

  .col-md-3:nth-child(5),
  .col-md-3:nth-child(9),
  .col-md-3:nth-child(13),
  .col-md-3:nth-child(17),
  .col-md-3:nth-child(21),
  .col-md-3:nth-child(25),
  .col-md-3:nth-child(29),
  .col-md-3:nth-child(33),
  .col-md-3:nth-child(37){
    clear: both;
  }

  .evo_widget.widget{
    padding: 0px 15px 20px 15px;
    overflow: hidden;

    h3{
      color: #ffffff;
      font-weight: 300;
      font-size: 24px;
      margin: 20px 0;
    }

    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;


      li{
        // margin: 5px 0;
        padding: 12px 0;

        a{
          color: #CDCDCD;
          font-size: 15px;
        }

        & > a{
          position: relative;
          color: #CDCDCD;
          font-size: 15px;
          padding-left: 15px;
          display: inline-block;
          letter-spacing: 0.1px;
          -moz-transition: all 0.32s ease;
          -webkit-transition: all 0.32s ease;
          -o-transition: all 0.32s ease;
          transition: all 0.32s ease;

          &::before{
            content: "\f105";
            position: absolute;
            left: 0;
            top: 0;
            font-family: "FontAwesome";
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
          }

          &:hover{
            text-decoration: none;
            color: #2CC05A;
          }
        }
      }
    }

    .tag_cloud{

      a{
        display: inline-block;
        font-size: 13px !important;
        font-weight: 300;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #253545;
        padding: 8px 12px;
        border-radius: 2px;
        margin: 2px 0;
        -moz-transitiion: all 0.32s ease;
        -webkit-transition: all 0.32s ease;
        -o-transition: all 0.32s ease;
        transition: all 0.32s ease;

        &:hover, &:focus{
          text-decoration: none;
          background-color: #1A5593;
          color: #fff;
        }
      }
    }

    &.widget_core_coll_search_form{
      .compact_search_form{

        input{
          outline: none;
          border: none;

          &:focus{
            box-shadow: none;
          }
        }

        input.search_field{
          width: 78%;
          border-radius: 3px 0 0 3px;
          height: 36px;
        }

        input.search_submit{
          margin: 0;
          padding: 6px 18px;
          border-radius: 0 3px 4px 0;
          vertical-align: middle;
          height: 36px;
          margin-top: -2px;
          background-color: #6D8EAE;
          -webkit-transition: all 0.32s ease;
          -o-transition: all 0.32s ease;
          transition: all 0.32s ease;

          &:hover{
            background-color: #547291;
            border-color: #547291;
          }
        }

      }
    }

    ////////////////////////////////////////////////////////////////
    // WIDGET WITH LIST

    &.widget_core_coll_post_list,
    &.widget_core_coll_category_list,
    &.widget_core_coll_common_links,
    &.widget_core_coll_xml_feeds,
    &.widget_core_content_hierarchy,
    &.widget_core_coll_item_list,
    &.widget_core_coll_related_post_list,
    &.widget_core_coll_page_list,
    &.widget_core_coll_comment_list,
    &.widget_core_colls_list_public,
    &.widget_core_user_tools,
    &.widget_core_colls_list_owner{
      ul{
        li{
          border-bottom: 1px solid #40576E;

          &:last-child{
            border-bottom: none;
          }
        }
      }
    }

    &.widget_core_coll_category_list{
      ul{
        li{

          & > ul{
            border-top: 1px solid #40576E;
            margin-top: 15px;
            margin-bottom: -10px;
            & > li{

            }
          }
        }
      }
    }

    &.widget_core_coll_common_links{

      ul{
        li{

          a{
            font-weight: 300;
            position: relative;
            color: #CDCDCD;
            font-size: 15px;
            padding-left: 15px;
            display: inline-block;
            letter-spacing: 0.1px;
            -moz-transition: all 0.32s ease;
            -webkit-transition: all 0.32s ease;
            -o-transition: all 0.32s ease;
            transition: all 0.32s ease;

            &::before{
              content: "\f105";
              position: absolute;
              left: 0;
              top: 0;
              font-family: "FontAwesome";
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              transform: translate(0, 0);
            }

            &:hover{
              text-decoration: none;
              color: #2CC05A;
            }
          }
        }
      }
    }


    &.widget_core_coll_post_list{
      // margin-bottom: 40px;

      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;

        li{
          display: block;
          margin: 5px 0;
          // padding: 10px 0;
          clear: both;

          .item_title{
            float: right;
            width: 65%;

            a{
              color: #E7E7E7;
              font-size: 15px;
              line-height: 1.2;
              display: inline-block;
              -moz-transition: all 0.32s ease;
              -webkit-transition: all 0.32s ease;
              -o-transition: all 0.32s ease;
              transition: all 0.32s ease;

              &:hover{
                text-decoration: none;
                color: #fff;
              }
            }
          }

          .item_images{
            float: left;
            padding: 0 0 10px;
          }
        }
      }
    }

    &.widget_core_coll_comment_list{

      ul{

        li{
          padding-left: 15px;

          a{
            padding-left: 0;
            text-transform: capitalize;

            &:before{
              left: -15px;
              font-weight: 300;
            }

            &:hover{
              background: transparent;
            }

          }

          > a + a{
            padding-left: 0;

            &::before{
              content: '';
            }
          }
        }
      }
    }

    &.widget_core_colls_list_public{

      ul{

        li{

          &.selected{

            a{
              font-weight: 300;
            }
          }
        }
      }
    }

    &.widget_core_content_hierarchy{
      ul{
        ul{
          border-bottom: 1px solid #40576E;

          &:last-child{
            border-bottom: none;
          }

          li i{
            a{
              font-weight: 300;
              position: relative;
              color: #CDCDCD;
              font-size: 15px;
              padding-left: 15px;
              display: inline-block;
              letter-spacing: 0.1px;
              -moz-transition: all 0.32s ease;
              -webkit-transition: all 0.32s ease;
              -o-transition: all 0.32s ease;
              transition: all 0.32s ease;

              &::before{
                content: "\f105";
                position: absolute;
                left: 0;
                top: 0;
                font-family: "FontAwesome";
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transform: translate(0, 0);
              }
            }
          }
        }

        ul ul {
          border-top: 1px solid #40576E;
        }
      }
    }

    &.widget_core_user_tools{
      ul{
        a{
          font-weight: 300;
          position: relative;
          color: #CDCDCD;
          font-size: 15px;
          padding-left: 15px;
          display: inline-block;
          letter-spacing: 0.1px;
          -moz-transition: all 0.32s ease;
          -webkit-transition: all 0.32s ease;
          -o-transition: all 0.32s ease;
          transition: all 0.32s ease;

          &:hover{
            color: #2CC05A;
          }

          &::before{
            content: "\f105";
            position: absolute;
            left: 0;
            top: 0;
            font-family: "FontAwesome";
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
          }
        }
      }
    }

    &.widget_core_colls_list_owner{
      ul{
        li{
          a{
            font-weight: 300;
          }
        }
      }
    }

    &.widget_core_coll_xml_feeds{

      .notes{
        a{
          color: #f5f5f5;
        }
      }
    }

    &.widget_core_coll_media_index{

      // List Style
      ul{

        li{
          padding: 5px 0;
          text-align: center;

          a{
            padding: 0;
            display: block;

            &::before{
              content: '';
            }

            img{
              margin-bottom: 5px;
            }
          }

          .note{
            display: block;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-bottom: 5px;
            font-weight: 300;
            color: #CDCDCD;
            border-bottom: 1px solid #40576E;
          }

          &:last-child .note{
            border-bottom: none;
          }
        }
      }


      .widget_grid{
        tr{
          td{
            background-color: transparent;
            border: none;
            text-align: center;

            a{

            }
            .note{
              border: none;
              font-weight: 300;
              color: #CDCDCD;
              font-size: 13px;
              padding: 12px 0 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid #40576E;
            }
          }

          &:last-child .note{
            border-bottom: none;
          }
        }
      }

      .widget_flow_blocks{

        a{
          display: block;
          float: left;
          clear: both;

        }

        .note{
          float: left;
          width: 60%;
          padding-left: 15px;
          padding-bottom: 10px;
          padding-top: 10px;
          display: block;
          line-height: 16px;
          font-weight: 300;
          color: #CDCDCD;
        }
      }

    }

    // Not List Widget

    &.widget_core_coll_avatar,
    &.widget_core_user_login{

      img{
        border-radius: 100%;
        border: 5px solid #445F79;
        -webkit-transition: all .32s ease;
        -o-transition: all .32s ease;
        transition: all .32s ease;
        cursor: pointer;

        &:hover{
          border-color: #4B7299;
        }
      }
    }

    &.widget_core_coll_longdesc{
      text-align: center;
    }

    &.widget_core_coll_title{
      h3{
        text-align: center;
        font-weight: 400;
        a{
          color: #fff;
          display: block;
          margin-bottom: 5px;
        }

        small{
          color: #f2f2f2;
          font-weight: 300;
        }
      }
    }

    &.widget_core_profile_menu_link{
      ul{

        li{

          a{
            text-transform: capitalize;
            font-size: 22px;
            padding: 0;

            &:before{
              content: '';
            }

            img{
              border-radius: 100%;
              position: relative;
              top: 0;
              left: -15px;
              vertical-align: middle;
            }

          }
        }
      }
    }



    &.widget_plugin_evo_Calr{

      caption{
        margin: 0 auto 5px;
        padding: 10px 0;
        white-space: nowrap;
        color: #fff;
        background: #243240;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        border-radius: 3px;

        a{
          color: #fff;

          &:hover{
            text-decoration: none;
          }
        }
      }

      thead{
        font-size: 11.5px;

        tr{

          th{
            font-size: 82%;
            padding: 1px;
          }
        }
      }

      tbody{

        tr{

          td{
            padding: 6px 0;
            font-weight: 400;
            color: #989898;

            a{
              color: #fff;

              &:hover{
                text-decoration: none;
              }
            }
          }
        }
      }

      #bCalendarToday{
        background-color: #FFFFFF;
        border: none;

        a{
          color: #333;
        }
      }
    }

  }

  ////////////////////////////////////////////////////////////////
  // Copyright

  .footer_copyright{
    padding: 30px 0px 5px 0px;
    background-color: #2C3E50;
    margin-top: 20px;

    p.copyright{
      float: left;
    }

    .footer_menu_copyright{
      float: right;

      a{
        color: #E7E7E7;
        text-decoration: none;

        &:hover{
          color: #fff;
        }
      }
    }

    .powered_by{
      margin: 0;
    }
  }

}


////////////////////////////////////////////////////////////////
// OTHER STYLE

body div.sitewide_footer {
  background-color: #2C3E50;
  box-shadow: none;
  border-top: none;
  padding: 5px 0 10px;
}
