#main_area{
  padding: 30px;
  background-color: #FFFFFF;
  margin-top: 15px;
  box-shadow: 1px 1px 1px #E8E8E8;
  border-radius: 2px;

  ////////////////////////////////////////////////////////////////
  // FRONT PAGE WIDGET

  .jumbotron{
    background-color: transparent;
    font-size: 18px;

    .bText{
      p{
        font-size: 18px;
      }
    }
  }

  .evo_widget.widget{

  }

  .pagination{

    li{

      & > span, & > a{
        background-color: #34495E;
        border: 1px solid #34495E;
        padding: 6px 15px;
        margin: 0 2px;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;

        &:hover{
          background-color: #2ECC71;
          border-color: #2ECC71;
          cursor: pointer;
        }

      }
    }
  }

  ////////////////////////////////////////////////////////////////
  // POSTS

  .styled_content_block {
    border-bottom: 1px solid #ecedee;

    &::last-child{
      border-bottom: none;
    }
  }

  a{
    color: #6d7683;

    &:hover{
      color: #2ECC71;
      text-decoration: none;
    }
  }

  h2{
    color: #565C64;
    line-height: 32px;
  }

  .bPost{

    h2{
      margin: 20px 0 6px;

      a{
        text-transform: capitalize;
        font-weight: 600;
        letter-spacing: 1px;
        color: #565C64;
        transition: all 0.32s ease;

        &:hover{
          color: #4ED387;
          text-decoration: none;
        }
      }
    }

    .small.text-muted{
      text-transform: uppercase;
      font-size: 12px;
      margin: 0 0 15px;

      a{

        span.fa-external-link{
          &::before{
            content: '';
          }
        }
      }
    }

    .content_full,
    .evo_post__full{

      .bImages{
        padding: 10px 0 20px;

        .iamge_block{

        }
      }

      .bText,
      .evo_post__full_text{
        letter-spacing: 1px;
        padding-bottom: 5px;
        font-size: 15px;
        color: #5E6064;
        line-height: 22px;

        p{
          letter-spacing: 1px;
          padding-bottom: 5px;
          font-size: 15px;
          color: #5E6064;
          line-height: 22px;

          &.bMore, &.evo_post_more_link{
            margin: 20px 0 10px;

            a{
              background-color: #6d7683;
              color: #ffffff;
              border-radius: 2px;
              padding: 10px 15px;
              font-size: 13px;
              letter-spacing: 0.6px;
              text-transform: uppercase;


              &:hover{
                background-color: #2ECC71;
              }
            }

          }
        }
      }
    }

    .small.tag_content{

    }

    .small.comment_content{

    }

  }


  ////////////////////////////////////////////////////////////////
  // COMMENT POSTS

  .bPost{

    .content_full, .evo_post__full{

      .bText, .evo_post__full_text{
        padding-bottom: 15px;
      }
    }

    .evoComment.panel{
      border-color: #ECEDEE;
      margin-top: 20px;

      .panel-heading{
        border-color: #ECEDEE;

        .evoComment-title{
          letter-spacing: 1px;
          font-size: 13px;
          line-height: 22px;
          text-transform: uppercase;

          a{
            &:hover{
              background-color: transparent;
            }
          }
        }

      }

      .panel-body{
        padding: 20px;

        .evoComment-avatar{
          float: left;
          padding-right: 15px;
          padding-bottom: 15px;

          a{
            img{
              border-radius: 100%;
              border: 2px solid #ccc;
            }
          }
        }

        .evoComment-text{
          margin-top: 5px;
          overflow: hidden;
          display: block;

          p{
            letter-spacing: 1px;
            font-size: 14px;
            color: #5E6064;
            line-height: 18px;
          }
        }

        .evoComment-info{
          margin-top: 5px;

          small{
            a{
              background-color: #F5F5F5;
              padding: 5px 10px;
              border-radius: 3px;
              color: #333;
              font-size: 12px;
              transition: all 0.32s ease;

              &:hover{
                background-color: #E7E7E7;

                span.fa{
                }
              }


              &.permalink_right{
                margin-left: 5px;
              }
            }
          }
        }
      }
    }

    // Commnet Style
    .comment_form{
      margin: 30px 0;
      border: none;
      color: #565C64;

      .panel-heading{
        border: none;
        background-color: transparent;
        padding-left: 0;

        h3{
          margin-bottom: 20px;
          color: #565C64;
        }
      }

      .form-group{
        margin: 0 0 15px;

        .control-label{
          text-align: left;
        }

        input.bComment,
        textarea.bComment{
          border-radius: 2px;
          border: 1px solid #E4E4E4;
          background: rgba(52, 73, 94, 0.00);
          height: 40px;
          box-shadow: none;

          &:focus, &:active{
            border: 1px solid #2ECC71;
            box-shadow: none;
          }
        }

        textarea.bComment{
          height: 200px;
        }

        .preview.btn{

          &:hover{
            border-color: transparent;
          }
        }

        #uploadfile_A1{
          display: inline-block;
        }
      }

      .control-buttons{
        margin-top: 15px;
      }

      .btn{
        &:focus{
          outline: none;
          box-shadow: none;
        }
      }

      .submit.SaveButton{
        background-color: #34495E;
        border-color: #34495E;
        -webkit-transition: all 0.32s ease;
        -o-transition: all 0.32s ease;
        transition: all 0.32s ease;

        &:hover, &:active, &:focus{
          background-color: #2ECC71;
          border-color: #2ECC71;
          box-shadow: none;
          outline: none;
        }
      }
    }

    .comment_notification,
    .feedback_feed_msg,
    .evo_post_comment_notification,
    .evo_post_feedback_feed_msg{
      text-align: center;
      font-size: 13px;

      a{
        font-size: 13px;
      }
    }
  }

  .pager{
    margin: 20px -20px;
    li{
      display: inline-block;
      -moz-transition: all 0.32s ease;
      -webkit-transition: all 0.32s ease;
      -o-transition: all 0.32s ease;
      transition: all 0.32s ease;

      &.previous,
      &.next{
        width: 48%;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
      }

      a{
        position: relative;
        font-size: 14px;
        line-height: 17px;
        border-radius: 100px;
        padding: 10px 25px;
        border: none;
        background-color: #f2f2f2;
      }

      &.previous{
        a{
          // text-align: left;
          margin-right: 10px;
        }
      }

      &.next{
        a{
          margin-top: 10px;
          margin-left: 10px;
          // text-align: right;
        }
      }

    }
  }
}
