
////////////////////////////////////////////////////////////////
// TAG CLOUD
  .tag_cloud{

    a{
      display: inline-block;
      font-size: 13px !important;
      padding: 8px 12px;
      margin: 2px 0;
      background-color: #34495E;
      color: #fff;
      text-transform: uppercase;
      border-radius: 2px;
      -webkit-transition: all 0.32s ease;
      transition: all 0.32s ease;

      &:hover{
        text-decoration: none;
        background-color: #2ECC71;
        color: #fff;
      }
    }
  }
