
////////////////////////////////////////////////////////////////
// TAG CLOUD

#main_area .tag_cloud a {
	color: #fff;
}
.tag_cloud{

  a{
    display: inline-block;
    font-size: 13px !important;
    padding: 8px 12px;
    margin: 2px 0;
    background-color: #34495E;
    color: #fff;
    // text-transform: uppercase;
    border-radius: 2px;
    -moz-transitiion: all 0.32s ease;
    -webkit-transition: all 0.32s ease;
    -o-transition: all 0.32s ease;
    transition: all 0.32s ease;

    &:hover{
      text-decoration: none;
      background-color: #2ECC71;
      color: #fff;
    }
  }
}

.widget_core_coll_search_form{
  form.search{

    .search_field{
      border-radius: 2px 0 0 2px;
      border: 1px solid #34495E;
      height: 45px;
      outline: none;
      box-shadow: none;

      &:focus{
        border-color: #2CC05A;
      }
    }

    .search_submit{
      height: 45px;
      width: 60px;
      border-radius: 0 2px 2px 0;
      vertical-align: middle;
      margin-bottom: 2px;
      background-color: #34495E;
      border: none;

      &:active, &:focus, &:visited{
        outline: none;
        box-shadow: none;
      }
    }

    .search_field:focus + .search_submit{
      background-color: #3ECC71;
    }

  }
}

.widget_core_coll_avatar{
  img{
    border-radius: 100%;
    border: 6px solid #34495E;
    -moz-transition: all 0.32s ease;
    -webkit-transition: all 0.32s ease;
    -o-transition: all 0.32s ease;
    transition: all 0.32s ease;

    &:hover{
      border-color: #2ECC71;
      cursor: pointer
    }
  }
}

.widget_core_coll_longdesc{
  text-align: center;

  .panel-heading{
    border-bottom: none;
    margin-bottom: -15px;

    h4.panel-title{
      float: none;
      background-color: transparent;

      a{
        font-size: 28px;
        font-weight: 400;
        color: #505C69;
      }
    }
  }
}

.widget_core_coll_title{
  // text-align: center;
  border-bottom: none;

  h4{
    background-color: transparent;
    float: none;

    a{
      background-color: transparent;
      font-weight: 500;
      color: #6d7683;
    }
  }

  h3{
    display: block;
    a{
      display: block;
    }
    small{

    }
  }
}

.widget_core_coll_media_index{
  span.note{
    padding-left: 10px;
  }
}

.widget_core_linkblog,
.widget_core_coll_post_list {

  ul{
    & > li{
      border-bottom: 1px solid #ecedee;
      padding: 12px 0 0 0;

      &:last-child{
        border-bottom: none;
      }
    }

    ul{
      margin-top: 5px;

      & > li{
        border-bottom: 1px solid #ecedee;
        padding: 12px 0;

        &:first-child{
          border-top: 1px solid #ecedee;
          margin-top: 12px;
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}


.widget_core_coll_comment_list{
  ul{
    li{
      a{
        &:hover{
          background-color: transparent;
        }
      }
    }
  }
}

.widget_plugin_evo_Calr{
  padding: 30px;

  table.bCalendarTable{
    width: 100%;

    caption{
      font-size: 18px;
      text-align: center;
      background-color: #34495E;
      padding: 10px 0;
      // margin-bottom: 15px;

      a{
        font-weight: 300;
        text-transform: uppercase;
        color: #fff !important;
      }
    }

    .bCalendarRow{

      th{
        font-size: 13px;
        text-align: center;
        border-right: 1px solid rgba(192, 192, 192, 0.1);
        border-right: 1px solid rgba(192, 192, 192, 0.1);
        padding: 10px 0;

        &:first-child{
          border-left: 1px solid rgba(192, 192, 192, 0.1);
        }
      }

      td{
        padding: 6px 5px;
      }
    }

    tbody{
      tr{
        td{
          font-size: 13px;
          border-right: 1px solid rgba(192, 192, 192, 0.1);
          border-bottom: 1px solid rgba(192, 192, 192, 0.1);

          &:first-child{
            border-left: 1px solid rgba(192, 192, 192, 0.1);
          }
        }
      }
    }

    #bCalendarToday{
      background-color: #34495E;
      color: #fff;
      border: none;
      font-weight: 600;
      a{
        color: #fff;
      }
    }

    tfoot{
      background-color: #34495E;

      tr{
        td{
          padding: 10px;
          color: #fff;

          a{
            color: #fff !important;
          }
        }
      }
    }

  }
}

.ufld_icon_links {

  a{
    &:hover{
      color: #ffffff !important;
    }
  }
}
